@model TicketingSystem.DAL.Entities.Ticket

<h1>Valid Ticket, you can enter to the concert</h1>

<form asp-controller="Tickets" asp-action="Edit" method="post">

    <label for="id">Ticket ID:</label>
    <input type="text" name="id" id="id">
    <button type="submit">Scan</button>

</form>