@model TicketingSystem.DAL.Entities.Ticket

<h1>Ticket already Used</h1>

<p>Use Date: @Model.UseDate</p>
<p>Entrance Gate: @Model.EntranceGate</p>

<div class="form-group">
    <a asp-action="Index" class="btn btn-outline-success">Back</a>
</div>
