

<h1>Invalid Ticket</h1>

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css" />

<p>
    <a asp-action="Index" class="btn btn-outline-primary">Back</a>
</p>

